// Opacit - Usage: @include opacity-geneator(#000, 0.4);
@mixin opacity-generator($color, $opacity: 0.3) {
    background: $color;
	background: rgba($color, $opacity);
}

// Aspect Ratio - Usage: @include(16,9); on parent div, and ensure content is inside .content div.
@mixin aspect-ratio($width, $height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

  	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Position Absolute Full - Usage: @include pposition-absolute_full(9999);
@mixin position-absolute_full($zindex) {
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: $zindex;
}

// Vertical Align Anything - Usage: @include vertical-align();
@mixin vertical-align {
    position: relative;
    top: 50%;
	transform: translateY(-50%);
}

// Transitions - Usage: @include transition(all .2s ease);
@mixin transition($args...) {
	transition: $args;
}

// Background Cover - Usage: @include background-cover;
@mixin background-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

// Pseudo Setup - Usage: @include pseudo();
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

// Border Radius - Usage:
//// @include border-radius(5px);
//// @include border-top-radius(10px);
//// @include border-right-radius(8px);
//// @include border-bottom-radius(10px);
//// @include border-left-radius (6px);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}