@import 'reset';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


// Variables


$purple:#753BBD;

body {
	-webkit-font-smoothing: antialiased;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3em;

	h1, h2, h3, h4 {
		font-weight: 700;
	}

	h1 {
		color:#7C7C7C;
		font-size: 64px;
		line-height: 74px;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 32px;
		line-height: 1.1em;
		margin-bottom: 30px;
	}

	h3 {
		font-size: 21px;
		line-height: 1em;
		margin-bottom: 15px;
	}

	h4 {
		font-size: 16px;
		line-height: 1em;
		margin-bottom: 20px;
	}

	p {
		line-height: 1.6em;
		margin-bottom: 15px;

		strong, b {
			font-weight: 600;
		}

		em, i {
			font-style: italic;
		}

		color:#7C7C7C;
	}

	&.locked { overflow: hidden; }

	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.text_align-left {text-align: left; }
	.text_align-center {text-align: center; }
	.text_align-right {text-align: right; }
}

@import 'grid';


// MAIN CSS HERE

header {
	padding:20px 0px;
	background-color:#F4F4F4;


	.logo{
		img{
			width:75%;
			display:block;
		}
	}
	.header-contents{
		width: 100%;
		height:100%;
		nav{
			@media (max-width: 1020px) {
				display: none;
			}
			height:100%;
			.menu-header-container{
				height:100%;
				ul{
					height:100%;
					display:flex;
					justify-content:space-between;
					width:100%;
					align-items:center;
					.current-menu-item{
						font-weight:700;
						color:#753BBD;
					}
					li{

						a{
							font-size:16px;
							font-family:'Raleway', sans-serif;
							font-weight:500;
							color:black;
							text-decoration:none;
							text-transform:uppercase;
							&:hover{
								color:$purple;
							}
						}

						.sub-menu{
							display:none;
							position:absolute;
							top:20px;
							left:0px;

							background:#F4F4F4;

							width:200px;
							padding:10px;

							
							flex-direction:column;
							align-items:baseline;
							height:auto;

							li{
								margin:0;
								padding: 10px;
								text-align:left;

								a{
									text-transform:capitalize;
									color:black;
									font-weight:500;
									font-size:14px;
									&:hover{
										color:$purple;
									}
								}

								&.current-menu-item{
									a{
										color:$purple;
									}								
								}

								&:first-of-type {
								padding-top: 0;
								}

								&:last-of-type {
									padding-bottom: 0;
								}
							}
						}

						&.menu-item-has-children {
							position: relative;

							&:hover .sub-menu {
								display: flex;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	padding: 20px 0;
	background: #753BBD;
	.footer-menu{

		display:flex;
		flex-direction:column;
		align-items:center;
		.sub-menu{
			display:none;
		}
		a{
			text-decoration:none;
			color:white;
			font-weight:700;

		}
		.menu{
			@media (max-width: 990px) {
				display:flex;
				flex-direction:column;
				align-items:center;
				margin-bottom:15px;
			}
		}
	}
	.addresses{
		display:flex;
		flex-direction:column;
		align-items:center;
		p{
			margin-bottom: 0px;
			color:white;
			font-size:12px;
		}
	}
	.contacts{
		display:flex;
		flex-direction:column;
		align-items:flex-start;
		@media (max-width: 990px) {
			align-items:center;
			margin-top:15px;
		}
		h5{
			color:white;
			font-weight:700;
		}
		p{
			color:white;
			font-size:12;
			margin-bottom:0px;
		}
	}
}

section.hero{
	background-color: #F4F4F4;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	padding:100px 10px;
	.hero-wrapper{
		margin-left:10px;
		width:33.333%;
		h1{
			@media (max-width: 1020px) {
				font-size:45px;
			}
			@media (max-width: 576px) {
				font-size:32px;
			}
		}
	}
}

.padding{
	padding:50px 10px !important;
}

.padding-large{
	padding: 100px 0 !important;
}



section.two-col{
	padding-bottom:100px !important;
	.column-1{
		img{
			width:100%;
			height:100%;
		}
	}
	.column-2{
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		@media (min-width: 576px) {
			align-items:center;
		}
		.column-title{
			color:$purple;
			font-size:32px;
			line-height:36px;
			margin-bottom:15px;
			margin-top:15px;
		}
		.column-button{
			font-weight:700;
			text-decoration:none;
			color:$purple;
			font-size:16px;
			line-height:18px;
		}
	}
}



section.squares{
	background-color:#F4F4F4;
	.square{
		margin:50px !important;
		@include aspect-ratio(1,1);
	}
	.content{
		border:1px solid black;
		display:flex;
		flex-direction:column;
		align-items:center;
		.square-img{
			width:100%;
			height:66.666%;
			img{
				width:100%;
				height:100%;
			}
		}
		.square-button{
			background-color:white;
			height:33.33%;
			width:100%;
			display:flex;
			align-items:center;
			justify-content:center;
			text-decoration:none;
			color:$purple;
			font-size:20px;
			line-height:36px;
			font-weight:700;
			text-transform:uppercase;
			border-top:1px solid black;
			&:hover{
				color:white;
				background-color:$purple;
			}
		}
	}
}

section.video{
	.video-wrapper{
		display:flex;
		justify-content:center;
		iframe{
			height:300px;
			width:500px;
		}
	}
}

section.testimonials-slides{
	.owl-nav{
		display: flex;
	    position: absolute;
	    top: 30px;
	    left: 0;
	    right: 0;
	    justify-content: space-between;
	}
	.item{
		padding:0px 325px;
		h4{
			color:$purple;
		}

	}

	.purple{
		color:$purple;
	}
}

section.cta-panel{
	background-color:#F4F4F4;
	.cta-inner{
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:25px;
		h4{
			font-weight:700;
			font-size:18px;
			line-height:18px;
			margin-bottom:5px;
		}
		.cta-button{
			font-size:18px;
			padding:5px 10px;
			font-weight:700;
			text-decoration:none;
			background-color:#7C7C7C;
			color:white;
			text-transform:uppercase;
			border-radius:10px;
		}
	}
}

section.testimonials{
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	
	h2{
		color:$purple;
		font-size:32px;
		line-height:36px;
		font-weight:700px;
	}

	.testimonial{
		border-bottom: 1px solid black;
		padding:25px !important;
		h4{
			color:$purple;
		}
		
	}
	
	.col-md-12{
		&:nth-of-type(4) {
			.testimonial{
				border-bottom:none;
			}
		}
	}

}




section.treatments{
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;

	.treatments-page-wrapper{


		h2{
			color:$purple;
			font-size:32px;
			line-height:36px;
			font-weight:700px;
		}

		section.treatments{
			h3{
				color:$purple;
				font-size:14px;
				font-weight:700;
				margin-bottom:0px;
			}
			ul{
				list-style-type: disc;
				margin-bottom:50px;
				margin-left:15px;
				li{
					font-size:14px;
					color:#7C7C7C;
					line-height:20px;
					p{
						margin-bottom:0px;
						padding-left:10px;
					}
				}
			}
		}
		section.contact-form{
			position:relative;
			border:1px solid black;
			border-radius:20px;
			padding:20px 20px 50px;
			margin-top:50px;
			background-color:white;
			p{
				margin-bottom:0px;
				&:nth-of-type(4){
					font-size:16px;
					color:black;
					line-height:20px;
					font-weight:500px;
				}
				&:nth-of-type(5){
					position:absolute;
					right:0;
					bottom:20px;
					input[type="submit"]{
						border: 0px solid black;
					    border-radius: 7px;
					    padding: 5px 10px;
					    font-family: 'Raleway',sans-serif;
					    font-weight: 700;
					    color: white;
					    background-color: $purple;
					}
				}
			}
			input[type="text"],
			input[type="email"],
			textarea{
				width:100%;
				border:1px solid black;
				border-radius:0;
				padding:15px;
				&::placeholder{
					font-family:'Raleway', sans-serif;
					opacity:1;
					font-weight:500;
					font-size:16;
					color:black;
				}
				&::-ms-input-placeholder{
					font-family:'Raleway', sans-serif;
					font-weight:500;
					font-size:16;
					color:black;
				}
			}

			h3{
				display:block !important;
				font-size:18px;
				line-height:20px;
				color:$purple;
				margin-bottom:0px;
			}
		}
	}
}


	

section.page-content{
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;

	h2{
		color:$purple;
		font-size:32px;
		line-height:36px;
		font-weight:700px;
	}

	h3{
		font-size:18px;
		line-height:30px;
		color:$purple;
		&:last-of-type{
			margin-top:50px;
		}
	}
	p{
		font-size:14px;
		line-height:20px;

	}
	ul{
		list-style-type: disc;
		margin-left:15px;
		li{
			font-size:14px;
			color:#7C7C7C;
			line-height:20px;
			padding-left:20px;
		}
	}
}

section.contact-us{
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;

	section.contact-details{
		@media (max-width: 1020px) {
			display:flex;
			flex-direction:column;
			align-items:center;
		}
		h2{
			color:$purple;
			font-size:32px;
			line-height:36px;
			font-weight:700px;
		}
		i{
			color:$purple;
			margin-right:20px;
		}
		.landline{
			display:flex;
		}
		.mobile{
			display:flex;
		}
		.email{
			display:flex;
		}
		.addresses{
			display:flex;
			.addresses-wrapper{
				display:flex;
				flex-direction:column;
				align-items:center;
				justify-content:space-around;
			}
			p{
				text-transform:capitalize;
				color:$purple;
				margin-bottom:0px;
			}
		}
	}

	section.contact-form{
		h3{
			display:none;
		}
		input[type="text"],
		input[type="email"],
		textarea{
			width:100%;
			border:1px solid black;
			border-radius:0;
			padding:15px;
			&::placeholder{
				font-family:'Raleway', sans-serif;
				opacity:1;
				font-weight:500;
				font-size:16;
				color:black;
			}
			&::-ms-input-placeholder{
				font-family:'Raleway', sans-serif;
				font-weight:500;
				font-size:16;
				color:black;
			}
		}
		.col-md-12{
			&:last-of-type{
				p{
					&:nth-of-type(2){
						position:absolute;
						right:0;
						
						input[type="submit"]{
							border: 0px solid black;
						    border-radius: 7px;
						    padding: 5px 10px;
						    font-family: 'Raleway',sans-serif;
						    font-weight: 700;
						    color: white;
						    background-color: $purple;
						}
					}
				}
			}
		}	
	}
}



@import 'responsive';