@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
}
body h1, body h2, body h3, body h4 {
  font-weight: 700;
}
body h1 {
  color: #7C7C7C;
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 30px;
}
body h2 {
  font-size: 32px;
  line-height: 1.1em;
  margin-bottom: 30px;
}
body h3 {
  font-size: 21px;
  line-height: 1em;
  margin-bottom: 15px;
}
body h4 {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 20px;
}
body p {
  line-height: 1.6em;
  margin-bottom: 15px;
  color: #7C7C7C;
}
body p strong, body p b {
  font-weight: 600;
}
body p em, body p i {
  font-style: italic;
}
body.locked {
  overflow: hidden;
}
body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
body .text_align-left {
  text-align: left;
}
body .text_align-center {
  text-align: center;
}
body .text_align-right {
  text-align: right;
}

.container .grid,
.container-full .grid {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style-type: none;
}

.grid::before, .grid::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class*=col-] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 0 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

[class*=col-]::before, [class*=col-]::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class*=col-] .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -15px;
}

.col-12 {
  width: 100%;
  *width: 99.9%;
}

.col-11 {
  width: 91.66666667%;
  *width: 91.56666667%;
}

.col-10 {
  width: 83.33333333%;
  *width: 83.23333333%;
}

.col-9 {
  width: 75%;
  *width: 74.9%;
}

.col-8 {
  width: 66.66666667%;
  *width: 66.56666667%;
}

.col-7 {
  width: 58.33333333%;
  *width: 58.23333333%;
}

.col-6 {
  width: 50%;
  *width: 49.9%;
}

.col-5 {
  width: 41.66666667%;
  *width: 41.56666667%;
}

.col-4 {
  width: 33.33333333%;
  *width: 33.23333333%;
}

.col-3 {
  width: 25%;
  *width: 24.9%;
}

.col-2 {
  width: 16.66666667%;
  *width: 16.56666667%;
}

.col-1 {
  width: 8.33333333%;
  *width: 8.23333333%;
}

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-xs-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }

  .col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-xs-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }

  .col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-xs-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }

  .col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-xs-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-sm-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }

  .col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-sm-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }

  .col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-sm-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }

  .col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-sm-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-md-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }

  .col-md-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-md-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }

  .col-md-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-md-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }

  .col-md-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-md-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-lg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }

  .col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-lg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }

  .col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-lg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }

  .col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-lg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1600px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-xlg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }

  .col-xlg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }

  .col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-xlg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }

  .col-xlg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }

  .col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-xlg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }

  .col-xlg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }

  .col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-xlg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }

  .col-xlg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
.col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto;
}

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 1600px) {
  .col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

@media only screen and (min-width: 576px) {
  .order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 768px) {
  .order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 992px) {
  .order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
.offset-11 {
  margin-left: 91.66666667%;
  *margin-left: 91.56666667%;
}

.offset-10 {
  margin-left: 83.33333333%;
  *margin-left: 83.23333333%;
}

.offset-9 {
  margin-left: 75%;
  *margin-left: 74.9%;
}

.offset-8 {
  margin-left: 66.66666667%;
  *margin-left: 66.56666667%;
}

.offset-7 {
  margin-left: 58.33333333%;
  *margin-left: 58.23333333%;
}

.offset-6 {
  margin-left: 50%;
  *margin-left: 49.9%;
}

.offset-5 {
  margin-left: 41.66666667%;
  *margin-left: 41.56666667%;
}

.offset-4 {
  margin-left: 33.33333333%;
  *margin-left: 33.23333333%;
}

.offset-3 {
  margin-left: 25%;
  *margin-left: 24.9%;
}

.offset-2 {
  margin-left: 16.66666667%;
  *margin-left: 16.56666667%;
}

.offset-1 {
  margin-left: 8.33333333%;
  *margin-left: 8.23333333%;
}

@media only screen and (min-width: 576px) {
  .offset-11-xs {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }

  .offset-10-xs {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }

  .offset-9-xs {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-xs {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }

  .offset-7-xs {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }

  .offset-6-xs {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-xs {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }

  .offset-4-xs {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }

  .offset-3-xs {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-xs {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }

  .offset-1-xs {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }

  .offset-0-xs {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 768px) {
  .offset-11-sm {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }

  .offset-10-sm {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }

  .offset-9-sm {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-sm {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }

  .offset-7-sm {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }

  .offset-6-sm {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-sm {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }

  .offset-4-sm {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }

  .offset-3-sm {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-sm {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }

  .offset-1-sm {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }

  .offset-0-sm {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 992px) {
  .offset-11-md {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }

  .offset-10-md {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }

  .offset-9-md {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-md {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }

  .offset-7-md {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }

  .offset-6-md {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-md {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }

  .offset-4-md {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }

  .offset-3-md {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-md {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }

  .offset-1-md {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }

  .offset-0-md {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 1200px) {
  .offset-11-lg {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }

  .offset-10-lg {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }

  .offset-9-lg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-lg {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }

  .offset-7-lg {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }

  .offset-6-lg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-lg {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }

  .offset-4-lg {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }

  .offset-3-lg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-lg {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }

  .offset-1-lg {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }

  .offset-0-lg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 1600px) {
  .offset-11-xlg {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }

  .offset-10-xlg {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }

  .offset-9-xlg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-xlg {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }

  .offset-7-xlg {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }

  .offset-6-xlg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-xlg {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }

  .offset-4-xlg {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }

  .offset-3-xlg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-xlg {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }

  .offset-1-xlg {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }

  .offset-0-xlg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.no-wrap [class*=col-] {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-end [class*=col-] {
  vertical-align: bottom;
}

.align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-center [class*=col-] {
  vertical-align: middle;
}

.align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.align-content-end [class*=col-] {
  vertical-align: bottom;
}

.align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.align-content-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}

.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}

.justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-start.grid {
  text-align: left;
}

.justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-end.grid {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
}

.justify-end.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-center.grid {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.justify-center.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-space-between.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-between.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.justify-space-around.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-around.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.grid-bleed [class*=col-] {
  padding: 0;
}

.col-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.col-grid.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.col-bleed {
  padding: 0;
}

.col-bleed-x {
  padding: 15px 0;
}

.col-bleed-y {
  padding: 0 15px;
}

.flex-img {
  display: block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  *width: auto;
}

.flex-footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.flex-footer > :last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .hidden-xxs {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none;
  }
}
@media (min-width: 1600px) {
  .hidden-xlg {
    display: none;
  }
}
header {
  padding: 20px 0px;
  background-color: #F4F4F4;
}
header .logo img {
  width: 75%;
  display: block;
}
header .header-contents {
  width: 100%;
  height: 100%;
}
header .header-contents nav {
  height: 100%;
}
@media (max-width: 1020px) {
  header .header-contents nav {
    display: none;
  }
}
header .header-contents nav .menu-header-container {
  height: 100%;
}
header .header-contents nav .menu-header-container ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header .header-contents nav .menu-header-container ul .current-menu-item {
  font-weight: 700;
  color: #753BBD;
}
header .header-contents nav .menu-header-container ul li a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header .header-contents nav .menu-header-container ul li a:hover {
  color: #753BBD;
}
header .header-contents nav .menu-header-container ul li .sub-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  background: #F4F4F4;
  width: 200px;
  padding: 10px;
  flex-direction: column;
  align-items: baseline;
  height: auto;
}
header .header-contents nav .menu-header-container ul li .sub-menu li {
  margin: 0;
  padding: 10px;
  text-align: left;
}
header .header-contents nav .menu-header-container ul li .sub-menu li a {
  text-transform: capitalize;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
header .header-contents nav .menu-header-container ul li .sub-menu li a:hover {
  color: #753BBD;
}
header .header-contents nav .menu-header-container ul li .sub-menu li.current-menu-item a {
  color: #753BBD;
}
header .header-contents nav .menu-header-container ul li .sub-menu li:first-of-type {
  padding-top: 0;
}
header .header-contents nav .menu-header-container ul li .sub-menu li:last-of-type {
  padding-bottom: 0;
}
header .header-contents nav .menu-header-container ul li.menu-item-has-children {
  position: relative;
}
header .header-contents nav .menu-header-container ul li.menu-item-has-children:hover .sub-menu {
  display: flex;
}

footer {
  padding: 20px 0;
  background: #753BBD;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-menu .sub-menu {
  display: none;
}
footer .footer-menu a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
@media (max-width: 990px) {
  footer .footer-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
footer .addresses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .addresses p {
  margin-bottom: 0px;
  color: white;
  font-size: 12px;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 990px) {
  footer .contacts {
    align-items: center;
    margin-top: 15px;
  }
}
footer .contacts h5 {
  color: white;
  font-weight: 700;
}
footer .contacts p {
  color: white;
  font-size: 12;
  margin-bottom: 0px;
}

section.hero {
  background-color: #F4F4F4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10px;
}
section.hero .hero-wrapper {
  margin-left: 10px;
  width: 33.333%;
}
@media (max-width: 1020px) {
  section.hero .hero-wrapper h1 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  section.hero .hero-wrapper h1 {
    font-size: 32px;
  }
}

.padding {
  padding: 50px 10px !important;
}

.padding-large {
  padding: 100px 0 !important;
}

section.two-col {
  padding-bottom: 100px !important;
}
section.two-col .column-1 img {
  width: 100%;
  height: 100%;
}
section.two-col .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 576px) {
  section.two-col .column-2 {
    align-items: center;
  }
}
section.two-col .column-2 .column-title {
  color: #753BBD;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
  margin-top: 15px;
}
section.two-col .column-2 .column-button {
  font-weight: 700;
  text-decoration: none;
  color: #753BBD;
  font-size: 16px;
  line-height: 18px;
}

section.squares {
  background-color: #F4F4F4;
}
section.squares .square {
  margin: 50px !important;
  position: relative;
}
section.squares .square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
section.squares .square > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section.squares .content {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.squares .content .square-img {
  width: 100%;
  height: 66.666%;
}
section.squares .content .square-img img {
  width: 100%;
  height: 100%;
}
section.squares .content .square-button {
  background-color: white;
  height: 33.33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #753BBD;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid black;
}
section.squares .content .square-button:hover {
  color: white;
  background-color: #753BBD;
}

section.video .video-wrapper {
  display: flex;
  justify-content: center;
}
section.video .video-wrapper iframe {
  height: 300px;
  width: 500px;
}

section.testimonials-slides .owl-nav {
  display: flex;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  justify-content: space-between;
}
section.testimonials-slides .item {
  padding: 0px 325px;
}
section.testimonials-slides .item h4 {
  color: #753BBD;
}
section.testimonials-slides .purple {
  color: #753BBD;
}

section.cta-panel {
  background-color: #F4F4F4;
}
section.cta-panel .cta-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
section.cta-panel .cta-inner h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
section.cta-panel .cta-inner .cta-button {
  font-size: 18px;
  padding: 5px 10px;
  font-weight: 700;
  text-decoration: none;
  background-color: #7C7C7C;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

section.testimonials {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
section.testimonials h2 {
  color: #753BBD;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700px;
}
section.testimonials .testimonial {
  border-bottom: 1px solid black;
  padding: 25px !important;
}
section.testimonials .testimonial h4 {
  color: #753BBD;
}
section.testimonials .col-md-12:nth-of-type(4) .testimonial {
  border-bottom: none;
}

section.treatments {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
section.treatments .treatments-page-wrapper h2 {
  color: #753BBD;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700px;
}
section.treatments .treatments-page-wrapper section.treatments h3 {
  color: #753BBD;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}
section.treatments .treatments-page-wrapper section.treatments ul {
  list-style-type: disc;
  margin-bottom: 50px;
  margin-left: 15px;
}
section.treatments .treatments-page-wrapper section.treatments ul li {
  font-size: 14px;
  color: #7C7C7C;
  line-height: 20px;
}
section.treatments .treatments-page-wrapper section.treatments ul li p {
  margin-bottom: 0px;
  padding-left: 10px;
}
section.treatments .treatments-page-wrapper section.contact-form {
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 20px 50px;
  margin-top: 50px;
  background-color: white;
}
section.treatments .treatments-page-wrapper section.contact-form p {
  margin-bottom: 0px;
}
section.treatments .treatments-page-wrapper section.contact-form p:nth-of-type(4) {
  font-size: 16px;
  color: black;
  line-height: 20px;
  font-weight: 500px;
}
section.treatments .treatments-page-wrapper section.contact-form p:nth-of-type(5) {
  position: absolute;
  right: 0;
  bottom: 20px;
}
section.treatments .treatments-page-wrapper section.contact-form p:nth-of-type(5) input[type=submit] {
  border: 0px solid black;
  border-radius: 7px;
  padding: 5px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #753BBD;
}
section.treatments .treatments-page-wrapper section.contact-form input[type=text],
section.treatments .treatments-page-wrapper section.contact-form input[type=email],
section.treatments .treatments-page-wrapper section.contact-form textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 15px;
}
section.treatments .treatments-page-wrapper section.contact-form input[type=text]::placeholder,
section.treatments .treatments-page-wrapper section.contact-form input[type=email]::placeholder,
section.treatments .treatments-page-wrapper section.contact-form textarea::placeholder {
  font-family: "Raleway", sans-serif;
  opacity: 1;
  font-weight: 500;
  font-size: 16;
  color: black;
}
section.treatments .treatments-page-wrapper section.contact-form input[type=text]::-ms-input-placeholder,
section.treatments .treatments-page-wrapper section.contact-form input[type=email]::-ms-input-placeholder,
section.treatments .treatments-page-wrapper section.contact-form textarea::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16;
  color: black;
}
section.treatments .treatments-page-wrapper section.contact-form h3 {
  display: block !important;
  font-size: 18px;
  line-height: 20px;
  color: #753BBD;
  margin-bottom: 0px;
}

section.page-content {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
section.page-content h2 {
  color: #753BBD;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700px;
}
section.page-content h3 {
  font-size: 18px;
  line-height: 30px;
  color: #753BBD;
}
section.page-content h3:last-of-type {
  margin-top: 50px;
}
section.page-content p {
  font-size: 14px;
  line-height: 20px;
}
section.page-content ul {
  list-style-type: disc;
  margin-left: 15px;
}
section.page-content ul li {
  font-size: 14px;
  color: #7C7C7C;
  line-height: 20px;
  padding-left: 20px;
}

section.contact-us {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  section.contact-us section.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
section.contact-us section.contact-details h2 {
  color: #753BBD;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700px;
}
section.contact-us section.contact-details i {
  color: #753BBD;
  margin-right: 20px;
}
section.contact-us section.contact-details .landline {
  display: flex;
}
section.contact-us section.contact-details .mobile {
  display: flex;
}
section.contact-us section.contact-details .email {
  display: flex;
}
section.contact-us section.contact-details .addresses {
  display: flex;
}
section.contact-us section.contact-details .addresses .addresses-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
section.contact-us section.contact-details .addresses p {
  text-transform: capitalize;
  color: #753BBD;
  margin-bottom: 0px;
}
section.contact-us section.contact-form h3 {
  display: none;
}
section.contact-us section.contact-form input[type=text],
section.contact-us section.contact-form input[type=email],
section.contact-us section.contact-form textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 15px;
}
section.contact-us section.contact-form input[type=text]::placeholder,
section.contact-us section.contact-form input[type=email]::placeholder,
section.contact-us section.contact-form textarea::placeholder {
  font-family: "Raleway", sans-serif;
  opacity: 1;
  font-weight: 500;
  font-size: 16;
  color: black;
}
section.contact-us section.contact-form input[type=text]::-ms-input-placeholder,
section.contact-us section.contact-form input[type=email]::-ms-input-placeholder,
section.contact-us section.contact-form textarea::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16;
  color: black;
}
section.contact-us section.contact-form .col-md-12:last-of-type p:nth-of-type(2) {
  position: absolute;
  right: 0;
}
section.contact-us section.contact-form .col-md-12:last-of-type p:nth-of-type(2) input[type=submit] {
  border: 0px solid black;
  border-radius: 7px;
  padding: 5px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #753BBD;
}

.menu-icon {
  width: 40px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.menu-icon span:nth-child(1) {
  top: 0px;
}
.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
  top: 15px;
}
.menu-icon span:nth-child(4) {
  top: 30px;
}
.menu-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}
.menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}
.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

nav.mobile {
  display: none;
  background: #000;
  padding: 15px;
  text-align: center;
}
nav.mobile a {
  color: #fff;
}

@media screen and (max-width: 920px) {
  header .menu-icon {
    display: inline-block;
  }
  header nav {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
